nidaqmx-python-master/
.venv
.github

# Python caches
__pycache__/
*.py[cod]

# Local outputs
data/output/
logs/

# Local GUI/runtime state
config/shutter_gui_prefs.json
config/last_worker_pids.json

# Common tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

src/camera/output/20251102_104353/
src/camera/output/20251102_112059/
src/camera/output/20251102_111006/
src/camera/output/20251102_111521/